/**/
body{
    background-color: rgb(149, 149, 248);
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}
div{
    background-color: rgb(175, 175, 255);
    border-radius: 10px;
    padding: 10px;   
}
h1,h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    text-align: center;
}
#btn,#reset-btn{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
    width:100%;
    border: 1px solid black;
    border-radius: 10px;
    margin: 5px;
}
/* Flexbox styles apply to an element’s children, not to the element itself. */
/*align-items → vertical centering because the body’s height is only as tall as its content. Initially The body’s height = the height of its content*/
